<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Polityki dostępu
      </h1>
      <%= link_to('Utwórz nową politykę dostępu', new_permission_policy_path, class: "button is-link" )%>
    </div>
  </div>
</section>

<div class="container">
<p id="notice"><%= notice %></p>



<table class="table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th><%= Switch.find(1).name %></th>
      <th><%= Switch.find(2).name %></th>
      <th><%= Switch.find(3).name %></th>
      <th><%= Switch.find(4).name %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permission_policies.each do |permission_policy| %>
      <tr>
        <td><%= permission_policy.name %></td>
        <td>
          <% if permission_policy.io1 %>
            <i class="fa fa-check" aria-hidden="true"></i>
          <% else %>
            <i class="fa fa-times" aria-hidden="true"></i>
          <% end %>
        </td>
        <td>
          <% if permission_policy.io2 %>
            <i class="fa fa-check" aria-hidden="true"></i>
          <% else %>
            <i class="fa fa-times" aria-hidden="true"></i>
          <% end %>
        </td>
        <td>
          <% if permission_policy.io3 %>
            <i class="fa fa-check" aria-hidden="true"></i>
          <% else %>
            <i class="fa fa-times" aria-hidden="true"></i>
          <% end %>
        </td>
        <td>
          <% if permission_policy.io4 %>
            <i class="fa fa-check" aria-hidden="true"></i>
          <% else %>
            <i class="fa fa-times" aria-hidden="true"></i>
          <% end %>
        </td>
      
        <td><%= link_to 'Pokaż', permission_policy %></td>
        <% if permission_policy.id > 2 %>
          <td><%= link_to 'Edycja', edit_permission_policy_path(permission_policy) %></td>
          <td><%= link_to 'Usuń', permission_policy, method: :delete, data: { confirm: 'Jesteś pewnien?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



</div>