
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Polityka dostępu
      </h1>
      <h2 class="subtitle">
        <%= @permission_policy.name %>
      </h2>
    </div>
  </div>
</section>

<div class="container">
  <% if notice %>
  <div class="notification">
    <%= notice %>
  </div>
  <% end %>


<p>
  <strong><%= Switch.find(1).name %>:</strong>
  <% if @permission_policy.io1 %>
    <i class="fa fa-check" aria-hidden="true"></i>
  <% else %>
    <i class="fa fa-times" aria-hidden="true"></i>
  <% end %>
</p>

<p>
  <strong><%= Switch.find(2).name %>:</strong>
    <% if @permission_policy.io2 %>
    <i class="fa fa-check" aria-hidden="true"></i>
  <% else %>
    <i class="fa fa-times" aria-hidden="true"></i>
  <% end %>
</p>

<p>
  <strong><%= Switch.find(3).name %>:</strong>
    <% if @permission_policy.io3 %>
    <i class="fa fa-check" aria-hidden="true"></i>
  <% else %>
    <i class="fa fa-times" aria-hidden="true"></i>
  <% end %>
</p>

<p>
  <strong><%= Switch.find(4).name %>:</strong>
    <% if @permission_policy.io4 %>
    <i class="fa fa-check" aria-hidden="true"></i>
  <% else %>
    <i class="fa fa-times" aria-hidden="true"></i>
  <% end %>
</p>

<%= link_to 'Edycja', edit_permission_policy_path(@permission_policy) %> |
<%= link_to 'Powrót', permission_policies_path %>

</div>


