<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Edycja użytkownika
      </h1>
      <h2 class="subtitle">
      </h2>
    </div>
  </div>
</section>

<div class="container">
  <% if notice %>
  <div class="notification">
    <%= notice %>
  </div>
  <% end %>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input"  %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, 'Nowe hasło'%> <i>(pozostaw puste jeśli nie zmieniasz)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "input"  %>
    <% if @minimum_password_length %>
      <br />
      <em>minimum <%= @minimum_password_length %> znaków</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Potwierdź hasło' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input"  %>
  </div>

  <div class="field">
    <%= f.label :current_password, 'Aktualne hasło' %><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "input"  %>
  </div>

  <div class="actions">
    <%= f.submit "Aktualizuj", :class => "button is-success"  %>
    <%= button_to "Usuń konto", registration_path(resource_name), data: { confirm: "Jesteś pewnien?" }, method: :delete, :class => "button is-danger"  %></p>

  </div>
<% end %>


<%= link_to "Powrót", :back %>

</div>