<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Tworzenie użytkownika
      </h1>
    </div>
  </div>
</section>

<div class="container">
  <% if notice %>
  <div class="notification">
    <%= notice %>
  </div>
  <% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input"  %>
  </div>

  <div class="field">
    <%= f.label :password , 'Hasło' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> znaków minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "input"  %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'potwierdź hasło'  %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input"  %>
  </div>

  <div class="actions">
    <%= f.submit "Utwórz", :class => "button is-success"   %>
  </div>
<% end %>


</div>