<div class="container">
  <% if current_user.try(:admin?) %>
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>Użytkownik</th>
          <th>Admin</th>
          <th colspan="2">Prawa dostępu do urządzeń</th>
          <th>Edytuj</th>
        </tr>
      </thead>
      <tbody>
          <% @users.each do |user| %>
          <tr>
            <th><%= user.id %></th>
            <td><%= link_to user.email, user %></td>
            <td>
              
              <span class="icon has-text-info">
              <% if user.admin %>
              <i class="fas fa-user"></i>
              <% else %>
              <i class="far fa-user"></i>
              <% end %>
              </span>
              
            </td>
          </td>
          <td><%= user.permission_policy_id %></td>
          <td><%= user.permission_policy.try(:name) %></td>
          <td><%= link_to 'edytuj', edit_user_path(user) %></td>
          <% end %>
      </tbody>
    </table>
    <%= link_to('Dodaj nowego użytkownika', new_user_registration_path, class: "button is-light" )%>




  <% else %>

      
    <div class="notification">
      <div class="notification is-danger">
          Dostęp tylko dla zalogowanego użytkownika z prawami <strong>administratora</strong>.
      </div>
    </div>

  <% end %>
</div>

