<div class="container">
<h1 class="title">Historia użytkownika</h1>
<h2 class="subtitle"><%= @history.email %></h2>

<br/>
<table>
  <th><%= "Czas zapisu" %></th>
   <th><%= "Znacznik czasowy serwera Arduino" %></th>
   <th>
    

    <%= form_tag user_path, method: :get do %>
    <span class="select">
      <%= select_tag 'switch_id', options_from_collection_for_select(@user_switches, 'id', 'name') %>
      </span>
      <%= submit_tag('Szukaj', :class => "button is-black ") %>
        <%= link_to "Pokaż wszystko", user_path, :class => "button is-outlined" %>
    <% end %>
  
    




   </th>
   <th><%= "Wartość" %></th>
  <%= render @history%>
</table>
<br/>
<%= will_paginate @history, :params_name => 'page', :previous_label => t("<<"), :next_label => t(">>")  %>
<br/>

</div>


<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
