<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PawBackendRor</title>
    <script src="https://kit.fontawesome.com/00e93c4deb.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <%= link_to root_path, :class => 'navbar-item' do %>
      <%= image_tag 'https://bulma.io/images/bulma-logo.png', width: 112, height: 28, alt: 'a face that is unnervingly happy'%>
    <% end %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

      <%= link_to "Użytkownicy", :users , { :class=>"navbar-item" } %>

      <%= link_to "Polityki dostępu", :permission_policies , { :class=>"navbar-item" } %>


      <% if current_user.try(:admin?) %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Strefa admina
        </a>

        
        <div class="navbar-dropdown">
          <%= link_to "Polityki dostępu", :permission_policies , { :class=>"navbar-item" } %>
          <%= link_to "Przełączniki", :switches , { :class=>"navbar-item" } %>
          <%= link_to "Historia", :histories , { :class=>"navbar-item" } %>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
      <% end %>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
              <%= link_to(current_user.email, edit_user_registration_path, class: "button is-primary" )%>
              <%= link_to("Wyloguj", destroy_user_session_path, method: :delete, class: "button is-light" )%>
          <% else %>
            <%= link_to('Login', new_user_session_path, class: "button is-primary" )%>
            <%= link_to('Register', new_user_registration_path, class: "button is-light" )%>

<% end %>
        </div>
      </div>
    </div>
  </div>
</nav>


  






    <%= yield %>


    <footer class="footer has-text-black has-background-primary">
      <div class="content has-text-centered ">
        <p>
          <strong>iHome Backoffice</strong>. 
          AGH PAW 2019<br/>
          Kod źródłowy: <a href="github.com">https://github.com/tmorawiec/ihome-rails-backoffice</a>
          Autor: <a href="morawiec.cc">Tomasz Morawiec</a>
        </p>
      </div>
    </footer>



  </body>
</html>



